{% extends 'components/authLayout.html' %}

{% block title %}User Details{% endblock %}

{% block content %}
    <div class="container mx-auto px-9 py-6">
        <h1 class="text-2xl font-bold mb-4">User Details</h1>
        <div class="bg-white border border-gray-200 rounded shadow-md p-6">
            <p><strong>ID:</strong> {{ user.id }}</p>
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Role:</strong> 
                {% if user.is_superuser %}
                    Admin
                {% elif user.is_staff %}
                    Staff
                {% else %}
                    User
                {% endif %}
            </p>
            <p><strong>Date Joined:</strong> {{ user.date_joined }}</p>
        </div>
    </div>
{% endblock %}
