<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}User Registration{% endblock %}</title>
    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen flex flex-col">
    <!-- Navigation Bar -->
    {% include 'components/nav.html' %}

    <!-- Main Content -->
    <div class="container mx-auto w-full flex-grow">
        {% block content %}
        <!-- Child templates will fill this block -->
        {% endblock %}
    </div>
    
    <!-- Footer -->
    <footer class="text-center p-4 bg-gray-100 text-zinc-600 z-40">
        &copy; 2024 Visitors E-Log System
    </footer>
</body>
</html>
